
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="jumbotron text-center text-white" style="margin-top: 10em;">
        <h1 class="display-4 fw-bold" id="title">Welcome User!</h1>
        <p class="lead">This is a simple web application that will let you store all your games into a single game library</p>
        <hr class="my-4">
        <p>To get started please Login or Register using the nav bar or use the buttons below</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg btn-block" routerLink="/login" routerLinkActive="active">Login</a>
          <a class="btn btn-primary btn-lg btn-block" routerLink="/register" routerLinkActive="active" style="margin-left: 1em;">Register</a>
        </p>
      </div>
    </div>
  </div>
</div>