
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="jumbotron text-center" style="margin: 1em;">
        <h1 class="display-4">Hello, User!</h1>
        <p class="lead">This is a simple web application that will let you store, list, update and delete 
          your current game libraries.</p>
        <hr class="my-4">
        <p>To get started please click on one of the links at the nav bar or the buttons below</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" routerLink="/games" routerLinkActive="active">Games</a>
          <a class="btn btn-primary btn-lg" routerLink="/forms" routerLinkActive="active" style="margin-left: 1em;">Form</a>
        </p>
      </div>
    </div>
  </div>
</div>