<div class="container-fluid">
  <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark"> 
    <a class="navbar-brand" routerLink="/home" routerLinkActive="active" style="margin-left: 1em;">Home</a>
    <button class="navbar-toggler" type="button" style="margin-right: 1em;" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/games" routerLinkActive="active">Game Library</a>
        <a class="nav-item nav-link" routerLink="/forms" routerLinkActive="active">Modify Library</a>
        <a *ngIf="userService.userState" class="nav-item nav-link" routerLink="/users" routerLinkActive="active">Users</a>
          <a *ngIf="!userService.userState" class="nav-item nav-link" routerLink="/login" routerLinkActive="active">Login</a>
          <a *ngIf="!userService.userState" class="nav-item nav-link" routerLink="/register" routerLinkActive="active">Register</a>
          <a *ngIf="userService.userState" class="nav-item nav-link" (click)="userService.SignOut()">Logout</a>
      </div>
    </div>
  </nav>

<div class="row">
  <router-outlet></router-outlet>
</div>

</div>





