<div class="container" style="margin-top: 10em;">
    <div class="row">
        <div class="col-md-12 text-center text-white">
            <div class="error-template">
                <h1 class="fw-bold">Oops!</h1>
                <h2 class="fw-bold">404 Not Found</h2>
                <div>
                    Sorry, an error has occured, Requested page not found!
                </div>
                <div class="mt-4">
                    <a routerLink="/home" routerLinkActive="active" style="margin-left: 1em;" class="btn btn-primary btn-lg">
                        Take Me Home </a>
                </div>
            </div>
        </div>
    </div>
</div>